- result = JSON.parse(@result)
= render 'selection_buttons', result: result
#container{data: {result: @result}}
= render 'summary_table', tf_summary: result['tf_summary']

- content_for :page_js do
  = javascript_include_tag('report')
