- result = JSON.parse(@result)
#selections
  .btn-group{id: 'select_browsers'}
    %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      = params['browser'] || result[:browser]
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        %a{href: with_query_str("browser=IE7", request)} IE7
      %li
        %a{href: with_query_str("browser=IE8", request)} IE8
      %li
        %a{href: with_query_str("browser=IE9", request)} IE9
      %li
        %a{href: with_query_str("browser=Chrome", request)} Chrome

  .btn-group{id: 'select_page'}
    %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      = params['page'] || result[:page]
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        %a{href: with_query_str("page=homepage", request)} Homepage
      %li
        %a{href: with_query_str("page=article", request)} Article
#container{data: {result: @result}}

- content_for :page_js do
  = javascript_include_tag('report')
